@tailwind base;
@tailwind components;
@tailwind utilities;

/* ICONS ANIMATION */
@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scrollX {
  animation: scrollX 20s linear infinite;
}
.edge-fade {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );

  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}


/* BORDER ANIMATION */
.animated-border {
  position: relative;
  z-index: 0;
}

.animated-border::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    transparent,
    #74c522,
    transparent
  );
  background-size: 300% 100%;
  animation: borderMove 10s linear infinite;
  z-index: -1;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}


